# Sample Pipfile.

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
humanize = "~4.10.0"
fake-useragent = "~1.5.1"
aiohttp = "~3.9.5"
pywikibot = "~9.2.1"
"discord.py" = "~2.4.0"
firebase-admin = "~6.5.0"
python-dotenv = "~1.0.1"

[dev-packages]
ruff = "~=0.5.0"
pre-commit = "~=3.7.1"

[requires]
python_version = "3.12"
